---
title: About
subtitle: About me
description: About me and everything related to me
---

{% extends "about.j2" %}

{% block headline %}
##About me and everything related to me

![Me](/media/img/xkcd.png "taken shamelessly from xkcd")
{% endblock %}

{% block me %}
My name is Go Frendi Gunawan. an intelligent being living in Malang, Jawa Timur, Indonesia, Earth, Solar System.

I work as a lecturer at [STIKI Malang](http://stiki.ac.id/).

I like to code. My favorite programming language is Python, but I'm not stop there. 
Right now, I try to learn scala and find out what functional-programming really is.
I can also speak PHP, javascript, pascal, C, java, English, and Bahasa.

I also like computer science. My favorite topic is data mining, machine learning, and a bit software engineering.
Sometime I also like to have light discussion related to philosophy and quantum-physics (minus the rocket science).

When not busy with my job, I usually like to code aimlessly, look for new thing related to computer, watch "Big bang theory" or some anime. Join free course on openedx or udacity (but soon get bored and never finish any course). And not to mention, trolling around.

You can contact me by mail at __gofrendiasgard@gmail.com__ or by phone at __+6289 680 868 343__

I also do [business](service.html) in case of you are interested.
{% endblock %}

{% block myproject %}
Most of my code are "hello-world" in any language/framework and usually end up as junks.

Here are some of my projects that I can proud of:

* __No-CMS__ ([code](https://github.com/goFrendiAsgard/No-CMS), [demo](http://getnocms.com) )

    No-CMS is a free CodeIgniter based CMS framework. I made it when codeigniter was popular and PHP was my favorite language.
    Now CodeIgniter is no longer as popular as before, and PHP is no longer my favorite language. However, No-CMS is still functional.
    I use No-CMS for majority of my project. It is open source and so customizable. Also, it has module-generator, something that really proud of.
    It makes developer's life (at least my life) easier.

* __Kokoropy__ ([code](https://github.com/goFrendiAsgard/kokoropy), [demo](http://kokoropy.herokuapp.com))

    This one is my "ideal" web-framework, built in Python (and bottle py). 
    I don't have any chance yet to try kokoropy in real-world, but in my imaginary-world, it is going to be the best framework ever.

* __csv2db.py__ ([code](https://github.com/goFrendiAsgard/csv2db.py))

    csv2db.py is a simple python framework to import any readable format csv into database. This can even detect `one-to-many` relationship

* __gogenpy__ ([code](https://github.com/goFrendiAsgard/gogenpy))

    Gogenpy stands for "Go Frendi Genetics Algorithm in Python".

* __puribundamalang.com__ ([demo](http://puribundamalang.com))

    A Website for Puri Bunda Maternity Hospital.

* __blogid.me__ ([demo](http://blogid.me))

    Free blogging platform.

{% endblock %}

{% block myresearch %}
* [Nordrassil](http://jurnal.stiki.ac.id/index.php/smatika1/article/view/3)
* [Grammatical Evolution for Feature Extraction in Local Tresholding Problem](http://jiki.cs.ui.ac.id/index.php/jiki/article/download/197/114)
* [Grammatical Evolution for Feature Extraction with Multi-Fitness Measurement](http://jurnal.itats.ac.id/grammatical-evolution-untuk-ekstraksi-fitur-dengan-pengukuran-multi-fitness/)
* [Tatami Grammatical Evolution for Feature Extraction with Multi-Fitness Measurement](https://github.com/goFrendiAsgard/myresearch/blob/master/snasti.pdf?raw=true)
{% endblock %}

