---
title: About
subtitle: About me
description: About me and everything related to me
---

{% extends "about.j2" %}

{% block headline %}
##About me and everything related to me
{% endblock %}

{% block me %}
My name is Go Frendi Gunawan. an intelligent being living in Malang, Jawa Timur, Indonesia, Earth, Solar System.

I work as a lecturer at [STIKI Malang](http://stiki.ac.id/).

I like to code. My favorite programming language is Python, but I'm not stop there. 
Right now, I try to learn scala and find out what functional-programming really is.
I can also speak PHP, javascript, pascal, C, java, English, and Bahasa.

I also like computer science. My favorite topic is data mining, machine learning, and a bit software engineering.
Sometime I also like to have light discussion related to philosophy and quantum-physics (minus the mathematics).

When not busy with my job, I usually like to code aimlessly, look for new thing related to computer, watch "Big bang theory" or some anime. Join free course. And not to mention, trolling around.

You can contact me by mail at __gofrendiasgard@gmail.com__
{% endblock %}

{% block myproject %}
Most of my code are "hello-world" in any language/framework and usually end up as junks.

Here are some of my projects that I can proud of:

* No-CMS ([code](https://github.com/goFrendiAsgard/No-CMS), [demo](http://getnocms.com) )
* Kokoropy ([code](https://github.com/goFrendiAsgard/kokoropy), [demo](http://kokoropy.herokuapp.com))
* csv2db.py ([code](https://github.com/goFrendiAsgard/csv2db.py))
* gogenpy ([code](https://github.com/goFrendiAsgard/gogenpy))

{% endblock %}

{% block myresearch %}
I'll fill it later...
{% endblock %}

