---
title: Home
subtitle: Go Frendi's Personal Website
description: Everything about Go Frendi, computer, mathematics, sarcasm, and anything between.
---

{% extends "home.j2" %}

{% block headline %}
# Go Frendi's Website

Everything about me, computer, mathematics, sarcasm, and anything between

{% endblock headline %}

{% block column1 %}
## Me

My name is Go Frendi Gunawan. an intelligent being living in Malang, Jawa Timur, Indonesia, Earth, Solar System.

I work as a lecturer at [STIKI Malang](http://stiki.ac.id/).

It is a pleasant job, you got a lot of interaction with people, and you still have freedom hack around.

{% endblock column1 %}

{% block column2 %}
## My Projects

When I have spare times, I usually like to create some small projects to kill the time.

Thus, I don't have any more spare time.

Almost all of my projects are open sourced (you can download, use, and modify it as you want).

Some of them are written in Python (my favorite language), PHP, and mere-mortal-human-language (ie: English and Bahasa), including [this blog](blog)

{% endblock column2 %}

{% block column3 %}
## My Research

Sometime I do some academic research (although most of them are not too academic).

They are published in several local journal (no internationally published paper yet).

My favorite topic of research including data-mining, machine-learning, a bit computer vision, and software-engineering.

{% endblock column3 %}