---
title: Service
subtitle: My Service
description: My Service
---

{% extends "service.j2" %}

{% block headline %}
##Need a [website](#coder) or [personal tutor](#tutor)?

![Me](/media/img/code.png "I talk in code fluently")
{% endblock %}

{% block coder %}
I am a proud web programmer. I know how to code effective and efficiently. I am familiar with PHP and CodeIgniter. I even make my own CMS to build website quickly.
If you need a small/medium website for your business, I can simply make them for you.

You don't even need to worry about your hosting and domain. I can provide it for free.
(However you need to extend your domain annually for the next year)

But, please, don't just take my word. You are always free to check my [projects](about.html#myproject)

Interested? Contact me by [mail/phone](about.html#me).
{% endblock %}

{% block tutor %}
I have spend years as personal tutor, and more years as lecturer. What I've learn since then is everyone has different pace and methods of learning.
Do you feel that your teacher/lecturer are frustating?

You might just don't fit their method of teaching.

So how do you prefer to learn? Let's find out.

__Note :__  This service is only available if you live in Malang, Jawa Timur, Indonesia.

Here are my teaching expertise:

* __Computer programming and computer science (All ages)__

    I am good with Python, PHP, Java, C, and Pascal. 

    Do you want to learn how to code and you don't even know where to start?
    I was in the same boat with you, and I have overcome all the trouble.

    Have you read all the programming books, yet you can't code fluently? Well, programming is not only about reading book and attending the lecture. Programming is about practice.
    
    Some of my students was suck in programming, but now they can code like a boss. Trust me :)

* __Mathematics (Elementary School, Junior High School, Senior High School)__

    Mathematics is a language of modelling. People usually make mistake by thinking that mathematics and calculating are the same thing.

    Do you want to know what algebra, limit, differential, and integral are all about?

    Mathematics is not just about applying a formula to solve a problem. Mathematics is about creativity. Mathematics is about how to think formally.

    So, do you think mathematics is difficult? Well, no one says it is easy.

* __Physics (Junior High School, Senior High School)__

    Physics is one of the hardest thing in school. Well, I'm agree with you. But physics is also fun.

    As mathematics, physics is not just about applying formula, but also about how to understand nature.

    Do you want to learn physics better?

If you are interested in any of those topics? please contact me by [mail/phone](about.html#me).
{% endblock %}

