{# Fullwidth template #}

{% extends "topbar.j2" %}

{% block container %}

<div class="starter-template" style="padding: 40px 15px; text-align:center;">
  {% filter markdown -%}
    {% block headline %}{% endblock headline %}
  {%- endfilter %}
  <div class="lead">
    {% filter markdown -%}
      {% block leadtext %}{% endblock leadtext %}
    {%- endfilter %}
  </div>
</div><!-- /.starter-template -->

<div>
    <h2 style="margin-top:50px;"><a name="me"></a>
      <i class="glyphicon glyphicon-user"></i> Me</h2>
    {% filter markdown -%}
    {% block me %}{% endblock me %}
    {%- endfilter %}
</div>

<div>
    <h2 style="margin-top:50px;"><a name="myproject"></a>
      <i class="glyphicon glyphicon-briefcase"></i> My Project</h2>
    {% filter markdown -%}
    {% block myproject %}{% endblock myproject %}
    {%- endfilter %}
</div>

<div>
    <h2 style="margin-top:50px;"><a name="myresearch"></a>
      <i class="glyphicon glyphicon-list"></i> My Research</h2>
    {% filter markdown -%}
    {% block myresearch %}{% endblock myresearch %}
    {%- endfilter %}
</div>

{% endblock container %}